{% extends "layout.html" %}

{% block body %}
<div class="jumbotron text-center">
    <h3>Load(Yük) Testi</h3>
    <hr>

    <p>Load testi ise hemen hemen gerçek hayatta karşılaşılması beklenen kullanım durumlarını simüle eder. Dolayısıyla test sistemleri ile hedef uygulama veya sistem arasında bir iletişim kurulur, geçerli istekler gönderilerek uygulama veya sistemin fonksiyonalitesi kullanılır. Yük testinin normal kullanımdan tek farkı yükün kademeli olarak artırılarak uygulamanın performansının izlenmesinin amaçlanmasıdır.</p>
</div>

{% endblock  %}